/* colors */

:root {
    --purple: #602CDB;
    --lpurple: #D2C0FC;
    --dpurple: #29135E;
    --grey: #242D3D;
    --yellow: #FDF1D8;
    --white: #ffffff;
    --space: 0.5em;
}

body {
    margin: 0 auto;
    scroll-behavior: smooth;
    color: var(--grey);
}

button {
    height: 56px;
    min-width: 160px;
    border-radius: 8px;
    padding: 1em 2em;
}

.primary {
    background-color: var(--purple);
    border: none;
    color: var(--white);
    font-weight: bold;
}

.secondary {
    background-color: var(--lpurple);
    border: none;
    color: var(--purple);
    font-weight: bold;
}

input[type=email] {
    width: 100%;
    padding: calc(var(--space) * 2);
    margin: var(--space) 0;
    box-sizing: border-box;
    box-shadow: none;
}

a,
a:hover {
    color: var(--purple);
}

.logo {
    padding-bottom: calc(var(--space) * 5);
}

.right {
    justify-content: end;
}

.top p,
.footer p {
    font-size: 1.5rem;
    line-height: 140%;
}

.top-img {
    border-radius: 8px;
    width: auto;
}

.what {
    align-items: center;
}

.how {
    padding-top: calc(var(--space) * 10);
    padding-bottom: calc(var(--space) * 10);
}

hr {
    background-color: var(--lpurple);
    height: calc(var(--space) / 4);
}

.footer {
    align-items: center;
    padding-top: calc(var(--space) * 12);
    padding-bottom: calc(var(--space) * 6)
}